body {
    background-color: #34495e;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #ecf0f1;
    padding: 20px 30px;
    border-radius: 5px;
    text-align: center;
  }
  
  h1 {
    color: #34495e;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .timer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .timer div {
    padding: 10px 20px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #2980b9;
    color: #ecf0f1;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
  }
  
  .timer div span {
    font-size: 1.5rem;
  }
  .centered-content{text-align:center;
}
  .centered-content img{
    display: block;
    margin: 0 auto;
  }